* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
}

@media all and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 760px) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 615px) {
  html {
    font-size: 10px;
  }
}

@media all and (max-width: 515px) {
  html {
    font-size: 8px;
  }
}

@media all and (max-width: 415px) {
  html {
    font-size: 7px;
  }
}

@media all and (max-width: 360px) {
  html {
    font-size: 6px;
  }
}

@media all and (min-width: 1300px) {
  html {
    font-size: 17px;
  }
}

html body {
  height: 100vh;
  font-family: sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

html body .note-container {
  width: 40vw;
  max-height: 80vh;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  -webkit-box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
          box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  background-color: #ffe6ff;
}

@media all and (max-width: 1000px) {
  html body .note-container {
    width: 50vw;
  }
}

@media all and (max-width: 765px) {
  html body .note-container {
    -webkit-box-shadow: -1vw 0.9vw 0.3vw 0.3vw #c1c1f0;
            box-shadow: -1vw 0.9vw 0.3vw 0.3vw #c1c1f0;
  }
}

@media all and (max-width: 650px) {
  html body .note-container {
    width: 55vw;
  }
}

@media all and (max-width: 550px) {
  html body .note-container {
    width: 60vw;
    max-height: 60vh;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
            box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
  }
}

@media all and (max-width: 450px) {
  html body .note-container {
    width: 65vw;
  }
}

@media all and (max-width: 390px) {
  html body .note-container {
    width: 70vw;
    -webkit-box-shadow: -1.2vw 1.2vw 0.7vw 0.7vw #c1c1f0;
            box-shadow: -1.2vw 1.2vw 0.7vw 0.7vw #c1c1f0;
  }
}

html body .note-container .header-note-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}

@media all and (max-width: 615px) {
  html body .note-container .header-note-section {
    height: 7vh;
  }
}

html body .note-container .header-note-section .note-input {
  width: 75%;
  height: 55%;
  font-size: 1.2rem;
  -webkit-padding-start: 0.5vw;
          padding-inline-start: 0.5vw;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  border-radius: 1.2vw;
  border: none;
  outline: none;
  text-decoration: none;
}

@media all and (max-width: 615px) {
  html body .note-container .header-note-section .note-input {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .header-note-section .note-input {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 415px) {
  html body .note-container .header-note-section .note-input {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 360px) {
  html body .note-container .header-note-section .note-input {
    font-size: 1.6rem;
  }
}

html body .note-container .header-note-section .note-add-button {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 20%;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

html body .note-container .header-note-section .note-add-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media all and (max-width: 615px) {
  html body .note-container .header-note-section .note-add-button {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .header-note-section .note-add-button {
    font-size: 1.9rem;
  }
}

@media all and (max-width: 415px) {
  html body .note-container .header-note-section .note-add-button {
    font-size: 2rem;
  }
}

@media all and (max-width: 360px) {
  html body .note-container .header-note-section .note-add-button {
    font-size: 2.1rem;
  }
}

html body .note-container .note-entry-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  margin-inline: auto;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  width: 16vw;
  height: 4vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
}

@media all and (max-width: 615px) {
  html body .note-container .note-entry-heading {
    font-size: 1.2rem;
    height: 3vh;
    width: 15vw;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .note-entry-heading {
    font-size: 1.1rem;
    width: 16vw;
  }
}

@media all and (max-width: 415px) {
  html body .note-container .note-entry-heading {
    height: 2vh;
    width: 17vw;
    font-size: 1rem;
  }
}

@media all and (max-width: 360px) {
  html body .note-container .note-entry-heading {
    height: 1.9vh;
    width: 18vw;
    font-size: 0.9rem;
  }
}

html body .note-container .main-note-section {
  background-color: inherit;
  height: calc(75vh - 24vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

@media all and (max-width: 615px) {
  html body .note-container .main-note-section {
    font-size: 1.1rem;
    height: 35vh;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .main-note-section {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 415px) {
  html body .note-container .main-note-section {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 360px) {
  html body .note-container .main-note-section {
    font-size: 1.4rem;
  }
}

html body .note-container .main-note-section .note-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-block: 1vh;
  width: 95%;
  -webkit-box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw #c1c1f0;
          box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw #c1c1f0;
  background-color: #f2f2f2;
}

html body .note-container .main-note-section .note-line:first-child {
  -webkit-margin-before: 2vh;
          margin-block-start: 2vh;
}

@media all and (max-width: 515px) {
  html body .note-container .main-note-section .note-line {
    margin-block: 0.5vh;
  }
}

html body .note-container .main-note-section .note-line .note-item-toggleYes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 0.5vw;
  word-break: break-all;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-text-decoration-color: #000033;
          text-decoration-color: #000033;
  text-decoration-thickness: 0.2rem;
}

html body .note-container .main-note-section .note-line .note-item-toggleNo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 0.5vw;
  word-break: break-all;
  text-decoration: none;
}

html body .note-container .main-note-section .note-line .note-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 0.5vh;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 1vw;
          margin-inline-end: 1vw;
  width: 1rem;
  height: 1rem;
}

html body .note-container .main-note-section .note-line .note-check input {
  width: inherit;
  height: inherit;
}

@media all and (max-width: 760px) {
  html body .note-container .main-note-section .note-line .note-check {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .main-note-section .note-line .note-check {
    width: 1.5rem;
    height: 1.5rem;
  }
}

html body .note-container .main-note-section .note-line .note-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 0.5vh;
  -webkit-margin-end: 0.5vw;
          margin-inline-end: 0.5vw;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  -webkit-background-clip: text;
  color: transparent;
}

@media all and (max-width: 760px) {
  html body .note-container .main-note-section .note-line .note-delete {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .main-note-section .note-line .note-delete {
    font-size: 1.5rem;
  }
}

html body .note-container .main-note-section .note-line .note-delete:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .note-container .delete-all-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  margin-inline: auto;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  width: 16vw;
  height: 4vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

html body .note-container .delete-all-button:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

@media all and (max-width: 615px) {
  html body .note-container .delete-all-button {
    font-size: 1.2rem;
    height: 3vh;
    width: 15vw;
  }
}

@media all and (max-width: 515px) {
  html body .note-container .delete-all-button {
    font-size: 1.1rem;
    width: 16vw;
  }
}

@media all and (max-width: 415px) {
  html body .note-container .delete-all-button {
    height: 2vh;
    width: 17vw;
    font-size: 1rem;
  }
}

@media all and (max-width: 360px) {
  html body .note-container .delete-all-button {
    height: 1.9vh;
    width: 18vw;
    font-size: 0.9rem;
  }
}

html body .note-container .footer-section {
  height: 10vh;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}

@media all and (max-width: 615px) {
  html body .note-container .footer-section {
    height: 7vh;
  }
}
/*# sourceMappingURL=toDo.css.map */