* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$box-shadow-color:hsl(240, 61%, 85%);
$linear-gradient: linear-gradient(to right, #000033, #4d004d);
$radius: 15px;

html {


    body {
        min-height: 100vh;
        font-family:  sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        .note-container {
            width: 30vw;
            max-height: 75vh;
            border-start-start-radius: $radius;
            border-start-end-radius: $radius;
            border-end-start-radius: $radius;
            border-end-end-radius: $radius;
            box-shadow: -10px 10px 5px 2px $box-shadow-color;
            background-color: #ffe6ff;

            .note-add-section {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10vh;
                border-start-start-radius: $radius;
                border-start-end-radius: $radius;
                background-image: $linear-gradient;

                .note-input {
                    height: 55%;
                    width: 80%;
                    border-right: none;
                }

                .note-add-button {
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 10vh;
                    width: 20%;
                    font-size: 1rem;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .main-note-section {
                background-color: inherit;
                height: calc(75vh - 24vh);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: auto;

                .note-line {
                    display: flex;
                    margin-block-start: 1vh;
                    margin-block-end: 1vh;
                    width: 28vw;

                    .note-item {
                        width: 100%;
                        background-color: gray;
                        padding-inline-start: 0.5rem;
                        word-break: break-all;
                    }

                    .note-control{
                        margin-inline-start: auto;
                    }

                    .note-delete {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        cursor: pointer;
                        text-transform: lowercase;
                        margin-inline-end:0.5rem ;
                        margin-inline-start: 0.5rem;
                        height: 2vh;
                        width: 1vw;
                        background-image: $linear-gradient;
                        color: white;
                    }
                }




            }

            .delete-all-container {
                display: flex;
                justify-content: center;
                align-items: center;
                border-start-start-radius: $radius;
                border-start-end-radius: $radius;
                margin-inline-start: auto;
                margin-inline-end: auto;
                margin-block-start: auto;
                width: 10vw;
                height: 4vh;
                color: white;
                background-image: $linear-gradient;
                cursor: pointer;

            }



            .footer-section {
                background-color: yellow;
                height: 10vh;
                border-end-start-radius: $radius;
                border-end-end-radius: $radius;
                background-image: $linear-gradient;
            }
        }
    }
}