* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1.2vw;
}

html body {
  min-height: 100vh;
  font-family: sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

html body .note-container {
  width: 30vw;
  max-height: 80vh;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  -webkit-box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
          box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  background-color: #ffe6ff;
}

html body .note-container .header-note-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}

html body .note-container .header-note-section .note-input {
  width: 75%;
  height: 55%;
  font-size: 1.2vw;
  -webkit-padding-start: 0.5vw;
          padding-inline-start: 0.5vw;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  border-radius: 1.2vw;
  border: none;
  outline: none;
  text-decoration: none;
}

html body .note-container .header-note-section .note-add-button {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 20%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

html body .note-container .note-entry-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  width: 10vw;
  height: 4vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
}

html body .note-container .main-note-section {
  background-color: inherit;
  height: calc(75vh - 24vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
}

html body .note-container .main-note-section .note-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 1.5vh;
          margin-block-start: 1.5vh;
  -webkit-margin-after: 1vh;
          margin-block-end: 1vh;
  width: 28vw;
  min-height: 5vh;
  -webkit-box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw #c1c1f0;
          box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw #c1c1f0;
  background-color: #f2f2f2;
}

html body .note-container .main-note-section .note-line .note-item {
  width: 100%;
  -webkit-padding-before: 0.5vw;
          padding-block-start: 0.5vw;
  -webkit-padding-start: 0.5vw;
          padding-inline-start: 0.5vw;
  min-height: 5vh;
  word-break: break-all;
}

html body .note-container .main-note-section .note-line .note-control {
  -webkit-margin-before: auto;
          margin-block-start: auto;
  -webkit-margin-after: auto;
          margin-block-end: auto;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
}

html body .note-container .main-note-section .note-line .note-delete {
  cursor: pointer;
  text-transform: uppercase;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  -webkit-margin-after: auto;
          margin-block-end: auto;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
  padding: 0.2vw;
  width: 1vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html body .note-container .delete-all-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  width: 10vw;
  height: 4vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

html body .note-container .delete-all-button:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

html body .note-container .footer-section {
  height: 10vh;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}
/*# sourceMappingURL=toDo.css.map */