* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

html body {
  min-height: 100vh;
  font-family: 'Mochiy Pop P One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .note-container {
  width: 30vw;
  height: 75vh;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
  -webkit-box-shadow: -10px 10px 5px 2px #c1c1f0;
          box-shadow: -10px 10px 5px 2px #c1c1f0;
  background-color: #ffe6ff;
}

html body .note-container .note-add-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 12%;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}

html body .note-container .note-add-section .note-input {
  height: 55%;
  width: 80%;
  border-right: none;
}

html body .note-container .note-add-section .note-add-button {
  background-color: red;
  height: 55%;
  width: 20%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

html body .note-container .main-note-section {
  background-color: inherit;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .note-container .main-note-section .note-list-container {
  background-color: red;
  height: calc(100% - 4vh);
  width: 100%;
  -webkit-padding-before: 1vh;
          padding-block-start: 1vh;
  -webkit-padding-after: 1vh;
          padding-block-end: 1vh;
  overflow: auto;
}

html body .note-container .main-note-section .note-list-container .note-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  max-height: calc(100% - 4vh);
  width: 95%;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  -webkit-margin-after: 1vh;
          margin-block-end: 1vh;
  overflow: auto;
}

html body .note-container .main-note-section .note-list-container .note-delete {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0.5vw;
          margin-inline-end: 0.5vw;
  -webkit-margin-after: auto;
          margin-block-end: auto;
  cursor: pointer;
  text-transform: uppercase;
}

html body .note-container .main-note-section .delete-all-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
  width: 10vw;
  height: 4vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
}

html body .note-container .footer-section {
  background-color: yellow;
  height: calc(100% - 87%);
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#000033), to(#4d004d));
  background-image: linear-gradient(to right, #000033, #4d004d);
}
/*# sourceMappingURL=toDo.css.map */