* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$box-shadow-color:hsl(240, 61%, 85%);
$linear-gradient: linear-gradient(to right, #000033, #4d004d);
$radius: 1.2vw;

html {
    font-size: 1.2vw;

    body {
        min-height: 100vh;
        font-family: sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Be Vietnam Pro', sans-serif;

        .note-container {
            width: 30vw;
            max-height: 80vh;
            border-start-start-radius: $radius;
            border-start-end-radius: $radius;
            border-end-start-radius: $radius;
            border-end-end-radius: $radius;
            box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw $box-shadow-color;
            background-color: #ffe6ff;



            .header-note-section {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10vh;
                border-start-start-radius: $radius;
                border-start-end-radius: $radius;
                background-image: $linear-gradient;

                .note-input {
                    width: 75%;
                    height: 55%;
                    font-size: 1.2vw;
                    padding-inline-start: 0.5vw;
                    margin-inline-start: auto;
                    border-radius: $radius;
                    border: none;
                    outline: none;
                    text-decoration: none;
                }

                .note-add-button {
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 20%;
                    font-size: 1rem;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .note-entry-heading {
                display: flex;
                justify-content: center;
                align-items: center;
                border-end-start-radius: $radius;
                border-end-end-radius: $radius;
                margin-inline-start: auto;
                margin-inline-end: auto;
                margin-block-start: auto;
                width: 10vw;
                height: 4vh;
                color: white;
                background-image: $linear-gradient;
                cursor: pointer;
            }


            .main-note-section {
                background-color: inherit;
                height: calc(75vh - 24vh);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: auto;

                .note-line {
                    display: flex;
                    margin-block-start: 1.5vh;
                    margin-block-end: 1vh;
                    width: 28vw;
                    min-height: 5vh;
                    box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw $box-shadow-color;
                    background-color: #f2f2f2;

                    .note-item {
                        width: 100%;
                        padding-block-start: 0.5vw;
                        padding-inline-start: 0.5vw;
                        min-height: 5vh;
                        word-break: break-all;
                    }

                    .note-control {
                        margin-block-start: auto;
                        margin-block-end: auto;
                        margin-inline-end: 0.5rem;
                        margin-inline-start: 0.5rem;
                    }

                    .note-delete {
                        cursor: pointer;
                        text-transform: uppercase;
                        margin-block-start: auto;
                        margin-block-end: auto;
                        margin-inline-end: 0.5rem;
                        margin-inline-start: 0.5rem;
                        padding: 0.2vw;
                        width: 1vw;
                        height: fit-content;
                        
                    }
                }




            }

            .delete-all-button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-start-start-radius: $radius;
                border-start-end-radius: $radius;
                margin-inline-start: auto;
                margin-inline-end: auto;
                margin-block-start: auto;
                width: 10vw;
                height: 4vh;
                color: white;
                background-image: $linear-gradient;
                cursor: pointer;
                transition-property: transform;
                transition-duration: 0.1s;
                &:hover{
                    transform: scaleX(1.1);
                }

            }



            .footer-section {
                height: 10vh;
                border-end-start-radius: $radius;
                border-end-end-radius: $radius;
                background-image: $linear-gradient;
            }
        }
    }
}