* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}
@media all and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}
@media all and (max-width: 760px) {
  html {
    font-size: 12px;
  }
}
@media all and (max-width: 615px) {
  html {
    font-size: 10px;
  }
}
@media all and (max-width: 515px) {
  html {
    font-size: 8px;
  }
}
@media all and (max-width: 415px) {
  html {
    font-size: 7px;
  }
}
@media all and (max-width: 360px) {
  html {
    font-size: 6px;
  }
}
@media all and (min-width: 1300px) {
  html {
    font-size: 17px;
  }
}
html body {
  height: 100vh;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
html body .main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
@media all and (max-width: 615px) {
  html body .main-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
}
html body .main-container .counter-clock-button-container {
  display: flex;
}
@media all and (max-width: 615px) {
  html body .main-container .counter-clock-button-container {
    width: 35vw;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .counter-clock-button-container {
    width: 45vw;
  }
}
@media all and (max-width: 470px) {
  html body .main-container .counter-clock-button-container {
    width: 55vw;
  }
}
html body .main-container .counter-clock-button-container .clock-button {
  display: none;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #000033, #4d004d);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  -webkit-animation-name: clockResize;
  animation-name: clockResize;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@media all and (max-width: 615px) {
  html body .main-container .counter-clock-button-container .clock-button {
    display: block;
    align-self: center;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
  }
  @-webkit-keyframes clockResize {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }
  @keyframes clockResize {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }
}
@media all and (max-width: 515px) {
  html body .main-container .counter-clock-button-container .clock-button {
    font-size: 3.5rem;
  }
}
html body .main-container .counter-clock-button-container .clock-button:hover {
  transition-property: transform;
  transition-duration: 0.5s;
}
html body .main-container .counter-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #000033, #4d004d);
  width: 20vw;
  height: 20vh;
  font-size: 2rem;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  border-radius: 1.2vw;
  box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  color: white;
}
html body .main-container .counter-container .counter-number {
  margin-block: auto;
  margin-inline: auto;
}
html body .main-container .counter-container .plus-minus-container {
  display: flex;
  justify-content: space-around;
  -webkit-margin-after: auto;
  margin-block-end: auto;
}
html body .main-container .counter-container .plus-minus-container * {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
}
html body .main-container .counter-container .plus-minus-container *:hover {
  transform: scale(0.9);
}
html body .main-container .counter-container .plus-minus-container .reset-button {
  font-size: 1.2rem;
  padding-inline: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid white;
  border-radius: 1.2vw;
  line-height: 1.5;
}
@media all and (max-width: 1060px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    font-size: 1rem;
    padding-inline: 1.3rem;
    line-height: 1.6;
  }
}
@media all and (max-width: 1000px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    padding-inline: 1.2rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 470px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    line-height: 1.8;
    padding-inline: 1.3rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .counter-container .plus-minus-container .reset-button {
    padding-inline: 0.9rem;
    border-width: 1px;
    font-size: 1.4rem;
  }
}
@media all and (max-width: 1060px) {
  html body .main-container .counter-container {
    width: 18vw;
    height: 18vh;
  }
}
@media all and (max-width: 1000px) {
  html body .main-container .counter-container {
    width: 16vw;
    height: 16vh;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 890px) {
  html body .main-container .counter-container {
    width: 20vw;
    height: 16vh;
  }
}
@media all and (max-width: 615px) {
  html body .main-container .counter-container {
    width: 25vw;
    height: 13vh;
    font-size: 2rem;
    box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .counter-container {
    width: 30vw;
    height: 11vh;
    font-size: 2.4rem;
  }
}
@media all and (max-width: 470px) {
  html body .main-container .counter-container {
    width: 40vw;
    font-size: 2.5rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .counter-container {
    font-size: 2.9rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .counter-container {
    height: 11vh;
    font-size: 3rem;
  }
}
@media all and (max-width: 260px) {
  html body .main-container .counter-container {
    width: 45vw;
  }
}
html body .main-container .digital-clock-container-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #000033, #4d004d);
  width: 20vw;
  height: 20vh;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  border-radius: 1.2vw;
  box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  color: white;
}
html body .main-container .digital-clock-container-mobile .hrs-mnts-scnds {
  width: 80%;
  -webkit-padding-start: 1.2vw;
  padding-inline-start: 1.2vw;
}
@media all and (max-width: 890px) {
  html body .main-container .digital-clock-container-mobile .hrs-mnts-scnds {
    -webkit-padding-start: 1.5vw;
    padding-inline-start: 1.5vw;
  }
}
@media all and (max-width: 615px) {
  html body .main-container .digital-clock-container-mobile {
    font-size: 1.8rem;
    width: 25vw;
    height: 13vh;
    display: none;
    box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .digital-clock-container-mobile {
    font-size: 2.4rem;
    height: 11vh;
    width: 30vw;
  }
}
@media all and (max-width: 470px) {
  html body .main-container .digital-clock-container-mobile {
    width: 40vw;
    font-size: 3rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .digital-clock-container-mobile {
    height: 11vh;
  }
}
@media all and (max-width: 300px) {
  html body .main-container .digital-clock-container-mobile {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 260px) {
  html body .main-container .digital-clock-container-mobile {
    width: 45vw;
    font-size: 2.4rem;
  }
}
html body .main-container .note-container {
  width: 40vw;
  border-radius: 1.2vw;
  box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  background-color: #ffe6ff;
}
@media all and (max-width: 1000px) {
  html body .main-container .note-container {
    width: 50vw;
  }
}
@media all and (max-width: 765px) {
  html body .main-container .note-container {
    box-shadow: -1vw 0.9vw 0.3vw 0.3vw #c1c1f0;
  }
}
@media all and (max-width: 650px) {
  html body .main-container .note-container {
    width: 55vw;
  }
}
@media all and (max-width: 615px) {
  html body .main-container .note-container {
    width: 65vw;
  }
}
@media all and (max-width: 550px) {
  html body .main-container .note-container {
    width: 70vw;
    box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
  }
}
@media all and (max-width: 450px) {
  html body .main-container .note-container {
    width: 80vw;
  }
}
@media all and (max-width: 390px) {
  html body .main-container .note-container {
    width: 90vw;
    box-shadow: -1.2vw 1.2vw 0.7vw 0.7vw #c1c1f0;
  }
}
html body .main-container .note-container .header-note-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11vh;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  background-image: linear-gradient(to right, #000033, #4d004d);
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .header-note-section {
    height: 10vh;
  }
}
html body .main-container .note-container .header-note-section .note-input {
  width: 75%;
  height: 55%;
  font-size: 1.2rem;
  -webkit-padding-start: 0.5vw;
  padding-inline-start: 0.5vw;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  border-radius: 1.2vw;
  border: none;
  outline: none;
  text-decoration: none;
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .header-note-section .note-input {
    font-size: 2rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .header-note-section .note-input {
    font-size: 2.1rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .note-container .header-note-section .note-input {
    font-size: 2.2rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .note-container .header-note-section .note-input {
    font-size: 2.3rem;
  }
}
html body .main-container .note-container .header-note-section .note-add-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20%;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
}
html body .main-container .note-container .header-note-section .note-add-button:hover {
  transform: scale(0.9);
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .header-note-section .note-add-button {
    font-size: 1.8rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .header-note-section .note-add-button {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .note-container .header-note-section .note-add-button {
    font-size: 3rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .note-container .header-note-section .note-add-button {
    font-size: 3.5rem;
  }
}
html body .main-container .note-container .note-entry-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  margin-inline: auto;
  -webkit-margin-before: auto;
  margin-block-start: auto;
  width: 16vw;
  height: 4vh;
  color: white;
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .note-entry-heading {
    font-size: 1.2rem;
    height: 3vh;
    width: 15vw;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .note-entry-heading {
    width: 16vw;
    height: 5vh;
    font-size: 1.5rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .note-container .note-entry-heading {
    width: 20vw;
    font-size: 1.8rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .note-container .note-entry-heading {
    width: 24vw;
    height: 6vh;
    font-size: 2rem;
  }
}
@media all and (max-width: 260px) {
  html body .main-container .note-container .note-entry-heading {
    width: 27vw;
  }
}
html body .main-container .note-container .main-note-section {
  background-color: inherit;
  height: 51vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .main-note-section {
    height: 40vh;
  }
}
html body .main-container .note-container .main-note-section .note-line {
  display: flex;
  margin-block: 1vh;
  width: 95%;
  box-shadow: -0.5vw 0.1vw 0.1vw 0.1vw #c1c1f0;
  background-color: #f2f2f2;
}
html body .main-container .note-container .main-note-section .note-line:first-child {
  -webkit-margin-before: 2vh;
  margin-block-start: 2vh;
}
@media all and (max-width: 760px) {
  html body .main-container .note-container .main-note-section .note-line {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .main-note-section .note-line {
    margin-block: 0.5vh;
    font-size: 2rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .note-container .main-note-section .note-line {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .note-container .main-note-section .note-line {
    font-size: 3rem;
  }
}
html body .main-container .note-container .main-note-section .note-line .note-item-toggleYes {
  display: flex;
  align-items: center;
  padding-inline: 0.5vw;
  word-break: break-all;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  -webkit-text-decoration-color: #000033;
  text-decoration-color: #000033;
  text-decoration-thickness: 0.2rem;
}
html body .main-container .note-container .main-note-section .note-line .note-item-toggleNo {
  display: flex;
  align-items: center;
  padding-inline: 0.5vw;
  word-break: break-all;
  text-decoration: none;
}
html body .main-container .note-container .main-note-section .note-line .note-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0.5vh;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: 1vw;
  margin-inline-end: 1vw;
  width: 1rem;
  height: 1rem;
}
html body .main-container .note-container .main-note-section .note-line .note-check input {
  width: inherit;
  height: inherit;
}
@media all and (max-width: 760px) {
  html body .main-container .note-container .main-note-section .note-line .note-check {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .main-note-section .note-line .note-check {
    width: 2rem;
    height: 2rem;
  }
}
html body .main-container .note-container .main-note-section .note-line .note-delete {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: 0.5vh;
  -webkit-margin-end: 0.5vw;
  margin-inline-end: 0.5vw;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
  background-image: linear-gradient(to right, #000033, #4d004d);
  -webkit-background-clip: text;
  color: transparent;
}
@media all and (max-width: 760px) {
  html body .main-container .note-container .main-note-section .note-line .note-delete {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .main-note-section .note-line .note-delete {
    font-size: 2rem;
  }
}
html body .main-container .note-container .main-note-section .note-line .note-delete:hover {
  transform: scale(0.9);
}
html body .main-container .note-container .delete-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-start-start-radius: 1.2vw;
  border-start-end-radius: 1.2vw;
  margin-inline: auto;
  -webkit-margin-before: auto;
  margin-block-start: auto;
  width: 16vw;
  height: 4vh;
  color: white;
  background-image: linear-gradient(to right, #000033, #4d004d);
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.1s;
}
html body .main-container .note-container .delete-all-button:hover {
  transform: scaleX(1.1);
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .delete-all-button {
    font-size: 1.2rem;
    height: 3vh;
    width: 15vw;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .note-container .delete-all-button {
    width: 16vw;
    height: 5vh;
    font-size: 1.5rem;
  }
}
@media all and (max-width: 415px) {
  html body .main-container .note-container .delete-all-button {
    width: 20vw;
    font-size: 1.8rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .note-container .delete-all-button {
    width: 24vw;
    height: 6vh;
    font-size: 2rem;
  }
}
@media all and (max-width: 260px) {
  html body .main-container .note-container .delete-all-button {
    width: 27vw;
  }
}
html body .main-container .note-container .footer-section {
  height: 11vh;
  border-end-start-radius: 1.2vw;
  border-end-end-radius: 1.2vw;
  background-image: linear-gradient(to right, #000033, #4d004d);
}
@media all and (max-width: 615px) {
  html body .main-container .note-container .footer-section {
    height: 10vh;
  }
}
html body .main-container .digital-clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #000033, #4d004d);
  width: 20vw;
  height: 20vh;
  font-size: 2rem;
  border-radius: 1.2vw;
  box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw #c1c1f0;
  color: white;
}
html body .main-container .digital-clock-container .hrs-mnts-scnds {
  width: 80%;
  -webkit-padding-start: 1.2vw;
  padding-inline-start: 1.2vw;
}
@media all and (max-width: 890px) {
  html body .main-container .digital-clock-container .hrs-mnts-scnds {
    -webkit-padding-start: 1.5vw;
    padding-inline-start: 1.5vw;
  }
}
@media all and (max-width: 1060px) {
  html body .main-container .digital-clock-container {
    width: 18vw;
    height: 18vh;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 1000px) {
  html body .main-container .digital-clock-container {
    width: 16vw;
    height: 16vh;
    font-size: 1.4rem;
  }
}
@media all and (max-width: 890px) {
  html body .main-container .digital-clock-container {
    width: 20vw;
    height: 16vh;
  }
}
@media all and (max-width: 615px) {
  html body .main-container .digital-clock-container {
    font-size: 1.8rem;
    width: 25vw;
    height: 13vh;
    display: none;
    box-shadow: -1vw 1vw 0.5vw 0.5vw #c1c1f0;
  }
}
@media all and (max-width: 515px) {
  html body .main-container .digital-clock-container {
    font-size: 2.4rem;
    height: 11vh;
    width: 30vw;
  }
}
@media all and (max-width: 470px) {
  html body .main-container .digital-clock-container {
    width: 40vw;
    font-size: 3rem;
  }
}
@media all and (max-width: 360px) {
  html body .main-container .digital-clock-container {
    height: 11vh;
  }
}
@media all and (max-width: 300px) {
  html body .main-container .digital-clock-container {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 260px) {
  html body .main-container .digital-clock-container {
    width: 45vw;
    font-size: 2.4rem;
  }
}