.counter-container {
    display: flex;
    flex-direction: column;
    background-image: $linear-gradient;
    width: 20vw;
    height: 20vh;
    font-size: 2rem;
    border-radius: $radius;
    box-shadow: -0.5vw 0.7vw 0.3vw 0.2vw $box-shadow-color;
    color: white;

    .counter-number {
        margin-block: auto;
        margin-inline: auto;
    }

    .plus-minus-container {
        display: flex;
        justify-content: space-around;
        margin-block-end: auto;

        * {
            cursor: pointer;
            @include transform;
        }

        .reset-button {
            font-size: 1.2rem;
            padding-inline: 1.5rem;
            width: fit-content;
            border: 2px solid white;
            border-radius: $radius;
            line-height: 1.5;
            @media all and (max-width: 1060px){
                font-size: 1rem;
                padding-inline: 1.3rem;
                line-height: 1.6;
            }
            @media all and (max-width: 1000px){
                font-size: 0.9rem;
                padding-inline: 1.2rem;
            }
            @media all and (max-width: 890px){
                font-size: 0.6rem;
                padding-inline: 1rem;
                
            }
            @media all and (max-width: 615px){
                padding-inline: 0.8rem;
                line-height: 1.8;
            }
            @media all and (max-width: 360px){
                padding-inline: 0.9rem;
                font-size: 1rem;
                border-width: 1px;
            }
        
        }
    }

    @include relative-size-counter;
}